/* ==========================================================================
	Process Timeline
=========================================================================== */

.process-timeline {
	max-width:1110px;
	margin:0 auto 40px;
	//padding-bottom:80px;
	overflow:hidden;
	position:relative;
	@include breakpoint($break-timeline) {
		padding-bottom:200px;
		margin:80px auto 80px;
	}
}


.process-timeline:after {
	@include breakpoint($break-timeline) {
		content:"";
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:450px;
		display:block;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%);
	}
}

.process-step-container {
	@extend .clearfix;
}

.process-step {
	@extend .clearfix;
	position:relative;
	@include breakpoint($break-timeline) {
		padding-right:10px;
	}
}

.process-step-container:nth-child(even) .process-step {
	@include breakpoint($break-timeline) {
		float:right;
		padding-left:12px;
		padding-right:0;
	}
}

.process-step:before {
	@include breakpoint($break-timeline) {
		content:'';
		display:block;
		width:1px;
		background:$border-color;
		position:absolute;
		right:0;
		top:-1100%;
		height:2200%;
	}
}

.process-step-container:nth-child(even) .process-step:before {
	@include breakpoint($break-timeline) {
		right:auto;
		left:0;
	}
}

.process-step-top {
	@extend .clearfix;
	position:relative;
}

.process-step-top:after {
	@include breakpoint($break-timeline) {
		content:'';
		display:block;
		background:$border-color;
		height:1px;
		position:relative;
		top:-15px;
	}
}

.process-step-bot {
	position:relative;
}

.process-step-line {
	width:2px;
	background:$process-color1;
	margin:0 auto 20px;
	height:230px;
	position:relative;
	@include breakpoint($break-timeline) {
		position:absolute;
		top:0;
		bottom:6px;
		height:auto;
		z-index:2;
		right:-12px;
		margin:0;
	}
}

.process-step-container:nth-child(even) .process-step-line {
	@include breakpoint($break-timeline) {
		right:auto;
		left:-12px;
	}
}

.process-step-line:before {
	content:'';
	position:absolute;
	display:block;
	top:0;
	left:50%;
	margin-left:-4px;
	width:8px;
	height:8px;
	border-radius:50%;
	background:$process-color1;
}

.process-step-line:after {
	content:'';
	position:absolute;
	display:block;
	bottom:0;
	left:50%;
	margin-left:-10px;
	width:20px;
	height:20px;
	border-radius:50%;
	background:#fff;
	border:2px solid $process-color1;
}

.process-step-content {
	width:100%;
	max-width:350px;
	background:#fff;
	padding:0 20px;
	position:relative;
	z-index:2;
	text-align:center;
	margin:0 auto;
	@include breakpoint($break-timeline) {
		text-align:right;
		float:left;
	}
}

.process-step-container:nth-child(even) .process-step-content {
	@include breakpoint($break-timeline) {
		float:right;
		text-align:left;
		padding-right:12px;
	}
}

.process-step-icon {
	margin-bottom:20px;
}

.process-step-title {
	font-size:26px;
	color:inherit;
	margin-bottom:0;
}

.process-step-title span {
	color:$heading-color;
	margin-left:5px;
}

.process-step-desc {
	color:$text-color;
	padding-top:21px;
	@include breakpoint($break-timeline) {
		position:absolute;
		top:0;
		margin-top:-1px;
	}
}

.process-step-container:nth-child(even) .process-step-desc {
	@include breakpoint($break-timeline) {
		right:0;
	}
}

.process-step-1 {
	color:$process-color1;
	@include breakpoint($break-timeline) {
		width:40%;
		.process-step-top {
			padding-top:230px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color1;
	}
	.process-step-line:after {
		border-color:$process-color1;
	}
}

.process-step-2 {
	color:$process-color2;
	@include breakpoint($break-timeline) {
		width:57.5%;
		margin-top:-20px;
		.process-step-top {
			padding-top:227px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color2;
	}
	.process-step-line:after {
		border-color:$process-color2;
	}
}

.process-step-3 {
	color:$process-color3;
	@include breakpoint($break-timeline) {
		width:45%;
		margin-top:-90px;
		.process-step-top {
			padding-top:182px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color3;
	}
	.process-step-line:after {
		border-color:$process-color3;
	}
}

.process-step-4 {
	color:$process-color4;
	@include breakpoint($break-timeline) {
		width:52.5%;
		margin-top:-70px;
			.process-step-top {
			padding-top:146px;
		}
	}
	
	.process-step-line,
	.process-step-line:before {
		background:$process-color4;
	}
	.process-step-line:after {
		border-color:$process-color4;
	}
}

.process-step-5 {
	color:$process-color5;
	@include breakpoint($break-timeline) {
		width:50%;
		margin-top:-150px;
		.process-step-top {
			padding-top:200px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color5;
	}
	.process-step-line:after {
		border-color:$process-color5;
	}
}

.process-step-6 {
	color:$process-color6;
	@include breakpoint($break-timeline) {
		margin-top:-160px;
		width:47.5%;
		.process-step-top {
			padding-top:244px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color6;
	}
	.process-step-line:after {
		border-color:$process-color6;
	}
}

.process-step-7 {
	color:$process-color7;
	@include breakpoint($break-timeline) {
		margin-top:-268px;
		width:55%;
		.process-step-top {
			padding-top:212px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color7;
	}
	.process-step-line:after {
		border-color:$process-color7;
	}
}

.process-step-8 {
	color:$process-color8;
	@include breakpoint($break-timeline) {
		margin-top:-80px;
		width:42.5%;
		.process-step-top {
			padding-top:74px;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color8;
	}
	.process-step-line:after {
		border-color:$process-color8;
	}
}

.process-step-9 {
	color:$process-color9;
	@include breakpoint($break-timeline) {
		width:60%;
	}
	.process-step-top:after {
		background:$process-color9;
		@include breakpoint($break-timeline) {
			background:transparent;
		}
	}
	.process-step-line,
	.process-step-line:before {
		background:$process-color9;
		@include breakpoint($break-timeline) {
			background:transparent;
		}
	}
	.process-step-line:after {
		border-color:$process-color9;
		@include breakpoint($break-timeline) {
			border-color:transparent;
			background:transparent
		}
	}
}