vendor/
node_modules/
public/
! public/index.php

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env

# Frontend specific (mike farrell)
!source/assets/sass/vendor/
.DS_Store
*.sublime-workspace
*.sublime-project
*.sass-cache*
*.codekit-cache*
config.codekit
sys/database/migrations
sys/resources/node-scripts
supervisord.conf
npm-debug.log

cp/config/server.env.js
cp/src/components/FormBuilder/
websites
