/* ==========================================================================
    GLOBALS
=========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: none;
}

/*img,
object,
embed {
  width:100%;
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}*/

img {
  max-width:100%;
  height:auto;
}

object,
embed {
  width:100%;
  max-width: 100%;
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}